html,
body,
#__next {
  height: 100%;
}

html {
  font-size: 62.5%;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
}