$container-max-width-xl: 1440px;
$container-max-width-lg: 1200px;
$container-max-width-md: 1000px;
$container-max-width-sm: 406px;

$container-paddings-xl: 96px;
$container-paddings-lg: 64px;
$container-paddings-md: 24px;
$container-paddings-sm: 8px;

$fg-primary: #fff;
$fg-secondary: #000;
$bg-primary: #000;
$bg-secondary: #fff;
$accent: #d7b7ff;
$green: #6cff47;
$violet: #9747ff;
$error: #dc143c;
$skeleton: #d9d9d9;

$screen-xl: 1920px;
$screen-lg: 1440px;
$screen-md: 1200px;
$screen-sm: 1000px;
